---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
---

<Layout title="Night of the Living Dev">
  <main>
    <Nav />
    <h1
      class="font-poppins font-bold text-violet-300 text-4xl md:text-6xl text-center md:text-left px-3"
    >
      Website and app development at a price that won't kill you.
    </h1>
    <div
      class="flex flex-col justify-center items-center text-slate-50 font-bebas mt-12 text-5xl links-fade"
    >
      <a href="">Our Work</a>
      <a href="">Pricing</a>
      <a href="">Contact</a>
    </div>
    <h3 class="font-poppins text-slate-400 text-center text-xl my-8 logos-fade">
      Trusted by
    </h3>
    <div class="grid grid-cols-2 logos-fade px-4 justify-items-center">
      <img src="/logos/koch.jpeg" class="h-[47px] w-[90px] rounded-full" />
      <img src="/logos/DAC.png" class="h-[45px] w-[45px]" />
    </div>
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* padding: 0 1.5rem; */
    /* max-width: 60ch; */
  }

  h1 {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 1s;
  }

  a {
    margin: 16px 0px;
  }

  .links-fade {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 2.5s;
  }

  .logos-fade {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 3.5s;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
