---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
---

<Layout
  title="Sales consulting. Customer outreach. Software development - Night of the Living Dev"
>
  <main>
    <Nav />
    <h1
      class="font-poppins font-bold text-violet-300 text-4xl md:text-7xl px-2 text-center md:mt-20 !leading-tight"
    >
      Sales consulting
    </h1>
    <h1
      class="font-poppins font-bold text-violet-400 text-4xl md:text-7xl px-2 text-center !leading-tight"
    >
      Customer outreach
    </h1>
    <h1
      class="font-poppins font-bold text-violet-500 text-4xl md:text-7xl px-2 text-center !leading-tight"
    >
      Web development
    </h1>

    <div
      class="flex flex-col justify-center items-center text-slate-50 font-bebas my-11 text-5xl opacity-0 fromleft ml-[-200vw] md:my-20 md:flex-row md:text-5xl md:gap-16"
    >
      <a href="about" class="link text-slate-300">About</a>
      <a href="pricing" class="link text-slate-300">Pricing</a>
      <a href="" class="link text-slate-300">Contact</a>
    </div>
    <h3
      class="font-poppins text-slate-400 text-center text-lg mb-6 logos-fade md:mt-24"
    >
      Trusted by
    </h3>
    <div
      class="grid grid-cols-[auto,auto,auto,auto] px-1 justify-items-center items-center logos-fade max-w-4xl mx-auto"
    >
      <a href="https://kochind.com" target="_blank"
        ><img src="/logos/koch-white.png" class="h-auto w-[72px]" /></a
      >
      <a href="https://www.dopeapedao.com/" target="_blank"
        ><img src="/logos/dac-white.png" class="h-[36px] w-auto" /></a
      >
      <a href="https://neighborhoodstudios.com" target="_blank"
        ><img src="/logos/nstudios.png" class="h-[36px] w-auto" /></a
      >
      <a href="https://mightymeld.com" target="_blank">
        <div class="flex flex-row">
          <svg
            width="23"
            height="25"
            viewBox="0 0 23 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.5549 11.2871C22.0098 6.96589 22.4629 1.43277 20.103 1.0697C17.743 0.706621 16.3514 1.79585 15.2621 3.55071C14.8386 2.34046 14.5722 1.0697 11.813 1.0697C8.36387 1.0697 5.15614 8.65039 3.82513 11.6668C0.183071 19.9207 0.194928 23.2686 3.09938 23.2686C4.62699 23.2686 5.57989 22.6196 7.87932 20.1917C7.87932 21.644 8.30326 22.3701 9.42964 22.6801C10.2183 22.8972 11.812 22.8542 12.6973 21.8329C13.3759 21.0501 13.8088 20.6152 13.9904 20.3127C14.2929 20.9783 14.9565 23.2122 16.8956 23.1476C20.5262 23.0266 21.1919 14.7363 21.5549 11.2871Z"
              fill="none"
              stroke="#fff"
              stroke-width="1.5"></path>
            <line
              y1="-0.75"
              x2="7.04235"
              y2="-0.75"
              transform="matrix(-0.326514 0.945192 -0.945188 -0.326526 11.7734 8.14062)"
              stroke="#fff"
              stroke-width="1.5"></line>
            <line
              y1="-0.75"
              x2="7.04235"
              y2="-0.75"
              transform="matrix(-0.326514 0.945192 -0.945188 -0.326526 16.0078 8.14062)"
              stroke="#fff"
              stroke-width="1.5"></line>
          </svg>
          <span class="text-slate-50 pl-2 font-bold">MightyMeld</span>
        </div></a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* padding: 0 1.5rem; */
    /* max-width: 60ch; */
  }

  h1 {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 1.5s;
  }

  @media screen and (min-width: 1024px) {
    a {
      margin: 16px 0px;
      padding: 0.2em 0;
    }
  }
  a {
    /* margin: 16px 0px; */
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0.35em 0;
  }

  a.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(142, 132, 249);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  a.link:hover::after {
    transform: scale(1);
  }

  .fromleft {
    animation: from-left 3s ease-in-out forwards;
    animation-delay: 1.25s;
  }
  .links-fade {
    opacity: 0;
    animation: fade-in 3s forwards;
    animation-delay: 2.5s;
  }

  .logos-fade {
    opacity: 0;
    animation: fade-in 3s forwards;
    animation-delay: 3.75s;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes from-left {
    0% {
      margin-left: -100vw;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      margin-left: 0px;
      opacity: 1;
    }
  }
</style>
