<a href="./">
  <div
    class="w-full flex flex-row items-center mb-10 md:mb-0 justify-center md:justify-normal md:ml-2"
  >
    <img src="logo.png" class="h-[100px] w-[100px]" />
    <span class="md:pl-4 text-slate-50 font-bebas text-4xl pt-[2px] px-1"
      >Night of the Living Dev</span
    >
  </div>
</a>
